# python cache
__pycache__/
*.py[cod]
*$py.class

.ruff_cache/

# virtual environments
.venv/
venv/

# environment variables
.env
.env.dev
.env.prod
!.env.example

# generated JWT signing keys
certs/
